@import "../../styles/App.scss";

div[class^="Col-"] {
  padding: 1rem 0;
  text-align: center;
}

$Columns: 12;
$gutter: 16px;

@for $i from 1 through 12 {
  .Col-#{$i} {
    flex: 0 0 100% / $Columns * $i;
    @media (max-width: 768px) {
      flex: 0 0 100%;
    }
  }
  .Col-offset-#{$i} {
    margin-left: 100% / $Columns * $i;
    @media (max-width: 768px) {
      margin-left: none;
    }
  }
}
